.Search-product {
    padding: 140px 0 10px 0;
}

.search {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.top-search h2 {
    color: #0090f0;
    text-transform: capitalize;
    font-size: 40px;
}


.Search-product .searchs .search p {
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: #0090f0;
} 