.Potmheader {
    background-color: #0090f0;
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    z-index: 999;
}

.Potmheader .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Potmheader .nav {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 55px;
    width: 100%;
    justify-content: space-around;

}

.Potmheader .category-nav {
    width: 190px;
    height: 100%;
    position: relative;
    
}

.Potmheader .category-btn p {
    flex: 1;
    text-align: center;
    margin: 0;
}

.Potmheader .category-nav .category-nav-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    border: 1px solid #999;
    border-top: 0;
    display: flex;
    flex-direction: column;
    max-height: 400px;
    overflow-y: auto;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: 0.3s;
    z-index: 1000;
}

.Potmheader .category-nav .category-nav-list.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.Potmheader .category-nav .category-nav-list a {
    padding: 14px 10px;
    border-bottom: 1px solid #e5e2e2;
    font-size: 14px;
    text-decoration: none;
}

.Potmheader .category-nav .category-nav-list a:last-child {
    border-bottom: 0;
}

.Potmheader .category-nav .category-btn {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    color: white;
    cursor: pointer;
}

.Potmheader .nav-links {
    display: flex;
    height: 100%;
}

.Potmheader .nav-links .links {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 25px;
    color: white;
    text-decoration: none;
}

.Potmheader .nav-links .links.active {
    background-color: #0079ca;
}










@media (max-width: 992px) { 

  .Potmheader .nav {
    justify-content: space-between;
    height: 55px;
  }

  .Potmheader .category-btn p,
  .Potmheader .nav-links .links {
    font-size: 14px;
    padding: 0 12px;
  }
}

@media (max-width: 768px) { 

  .Potmheader .nav {
    justify-content: space-between;
    height: 50px;
    gap: 4px;
  }

  .Potmheader .category-btn p,
  .Potmheader .nav-links .links {
    font-size: 12px;
    padding: 0 8px;
  }
}

@media (max-width: 480px) { 

  .Potmheader .nav {
    height: 45px;
  }

  .Potmheader .category-btn p,
  .Potmheader .nav-links .links {
    font-size: 10px;
    padding: 0 5px;
  }
}


@media (max-width: 443px) {

  .Potmheader .nav {
    flex-wrap: nowrap;       
    justify-content: space-between;
    align-items: center;
    height: 40px;
    gap: 2px;
  }

  .Potmheader .category-btn p {
    padding: 0;             
    margin: 0;
    font-size: 10px;         
    white-space: nowrap;
  }

  .Potmheader .nav-links {
    display: flex;
    flex-wrap: nowrap;       
    gap: 2px;
  }

  .Potmheader .nav-links .links {
    padding: 0 3px;        
    margin: 0;
    font-size: 10px;        
    white-space: nowrap;    
  }

}
