.Topheader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; 
  background-color: #fff; 
}


.Topheader .container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 15px 0;
}

.Topheader .logo img {
   width: 100px;
}

.seacch-box {
   width: 500px;
   display: flex;
   align-items: center;
   background-color: #f3f3f3;
   overflow: hidden;
   border-radius: 30px;
}

.seacch-box input {
   flex: 1;
   border: none;
   padding: 8px 12px;
   outline: none;
   background: transparent;
}

.seacch-box button {
   border: none;
   background: #0090f0;
   color: #fff;
   padding: 8px 16px;
   cursor: pointer;
   border-radius: 0 30px 30px 0;
}

.Topheader .header-icons {
   display: flex;
   gap: 30px;
}

.Topheader .header-icons .icon {
   position: relative;
   cursor: pointer;
}

.Topheader .header-icons .bi {
   font-size: 30px;
}

.Topheader .header-icons .count {
   color: white;
   position: absolute;
   top: -5px;
   right: -10px;
   background-color: #0090f0;
   width: 20px;
   height: 20px;
   border-radius: 100%;
   text-align: center;
   font-size: 11px;
   line-height: 20px;
}